form #btn {
    border: 2px solid black;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    font-family: fantasy;
    color: cornsilk;

}
form #btn:hover{
    background-color: teal;
    cursor: pointer;
}

body {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 100px;
}

.minhaBarra {
    background: white; 
    border: 2px solid black;
    height: 20px; 
    margin: 10px; 
    color: black;
    border-radius: 5px;
}

#container{
    max-width: 900px;    
}

#container1{
    padding: 15px;
}

@media screen and (min-width: 600px) {
    .minhaBarra {
        background: rgb(180, 180, 192); 
        border: 2px solid white;
        height: 20px; 
        margin: 10px; 
        color: black;
        border-radius: 5px;
    }
    form #btn:hover{
        background-color: rgb(19, 173, 19);
        cursor: grab;
    }

  }