form #btn {
    border: 2px solid black;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    font-family: fantasy;
    color: cornsilk;

}

.main-img{
    width: 100px;
}
form #btn:hover{
    background-color: teal;
    cursor: pointer;
}

body {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 100px;
}

.minhaBarra {
    background: white; 
    border: 2px solid black;
    height: 20px; 
    margin: 10px; 
    color: black;
    border-radius: 5px;
}

#container{
    max-width: 900px;    
}

#container1{
    padding: 15px;
}

@media screen and (min-width: 600px) {
    .minhaBarra {
        background: rgb(180, 180, 192); 
        border: 2px solid white;
        height: 20px; 
        margin: 10px; 
        color: black;
        border-radius: 5px;
    }
    h1{
        max-width: 900px;
        justify-content: center;
        display: flex;
    }
    form{
        max-width: 900px;
    }
    form #btn{
        margin: 30px;
    }
    form #btn:hover{
        background-color: rgb(19, 173, 19);
        cursor: grab;
    }

    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: blueviolet;
        }
    form{
        display: flex;
        justify-content: space-between
        
    }
    #container{
        align-items: center;
    }

    .main-img{
        width: 200px;
        position: relative;
        display: flex;
        
    }
  }